<p>all-movies-list works!</p>


<!--<p-dataView [value]="moviesList"-->
<!--            layout="grid"-->
<!--&gt;-->
<!--  <ng-template let-movie pTemplate="listItem">-->
<!--    <div>-->
<!--      {{movie.id}}-->
<!--    </div>-->
<!--  </ng-template>-->
<!--  <ng-template let-movie pTemplate="gridItem">-->
<!--    <div class="p-col-12 p-md-3">-->
<!--      {{movie.name}}-->
<!--    </div>-->
<!--  </ng-template>-->
<!--</p-dataView>-->

<div class="d-flex" >
  <div
    *ngFor="let item of moviesList"

  >
<!--    {{item.}}-->
  </div>
</div>
